# Configuración de Servidor
PORT=3000

# Meta / WhatsApp Cloud API
VERIFY_TOKEN=tu_token_de_verificacion_aqui
ACCESS_TOKEN=tu_access_token_de_meta_aqui
PHONE_NUMBER_ID=tu_phone_number_id_aqui

# Base de Datos Neon
DATABASE_URL=postgres://usuario:password@host.neon.tech/dbname?sslmode=require
